repos:
- repo: https://github.com/ambv/black
  rev: 19.10b0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  # general (POSIX) text file goodness
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args:
    - --fix=lf
  - id: check-byte-order-marker
  # some nice to have git issues
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-added-large-files
    args:
    - --maxkb=20
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.5.1
  hooks:
  - id: rst-backticks
  - id: python-check-blanket-noqa
  - id: python-no-log-warn
  - id: python-no-eval
