[MASTER]

ignore=CVS
persistent=yes
jobs=1

[MESSAGES CONTROL]

disable=
    bad-continuation,  # clashes with black
    line-too-long,  # clashes with black
    ungrouped-imports, # clashes with isort
    missing-docstring,
    fixme,
    chained-comparison,

[BASIC]

good-names=_,e,ex,f,i,j,u,v,x,y,z,uv,tx,ty,tz,rx,ry,rz,bm,pe

[FORMAT]

indent-string='    '
